<div class="how-to" id={{how-to.id}}>
    <div class="instruction">
        <h2>{{how-to.title}}</h2>
        <div class="description">
            <p>{{how-to.description}}</p>
        </div>
    </div>
    <div class="image">
        <img src={{how-to.image}}>
    </div>
</div>
