<div class="how-to" id={{how-to.id}}>
    <div class="instruction">
        <h1>{{how-to.title}}</h1>
        <div class="description">
            <p>{{how-to.description}}</p>
        </div>
    </div>
    <div class="image">
        <img src={{how-to.image}}>
    </div>
</div>
