<div class="container">
  <nav class="menu">
        {{#link-to "index"}}
            <div id="popthello-logo"></div>
        {{/link-to}}
    <div class="links">
        {{#link-to "how-to" class="menu-item"}}
            How-to
        {{/link-to}}
        {{#link-to "game" class="menu-item play-now"}}
            Play Now
        {{/link-to}}
    </div>
  </nav>
  <div class="body">
    <div class="page">
      {{outlet}}
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
